<%= stylesheet_link_tag    "hist/application", media: "all" %>
<%= javascript_include_tag "hist/application" %>

<div class="modal-dialog" id="hist_modal_container" tabindex="-1" aria-labelledby="modalLabel-hist_modal_container" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <div class="hist-title-left">
        <h4 class="modal-title"><%= @left_title %></h4>
      </div>
      <div class="hist-title-right">
        <h4 class="modal-title"><%= @right_title %></h4>
      </div>

    </div>
    <div class="modal-body">
      <div id="histAceDiff">

      </div>
    </div>
    <div style="clear:both;"></div>
    <div class="modal-footer">
      <div class="pull-left"><button type="button" class="btn btn-link" data-dismiss="modal">Close</button></div>
    </div>
  </div>
</div>
